/* home page styling*/
/* navbar */
body{
    margin: 0%;
}
h1{
    font-size: 50px;

}
h2{
   font-size: 46px;
   
}
h3{
    font-size: 35px; 
}
h4{
    font-size: 20px;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
font-size: 16px;
margin: 15px 0 20px 0;
}
.font{
    font-family: Arial, sans-serif; 
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 5px 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;

   
}
#header img{
    width: 50%;
}
#navbar{
    margin-right: 20px;
}
#navbar li {
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
   
    
}
#navbar ul{
    list-style: none;              
    display: flex;                 
    gap: 30px;                      
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(239, 22, 22);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:100%;
    height: 2px;
    background:  rgb(239, 22, 22);
    position: absolute;
    bottom: -4px;
    right: 0px;
}
#mobile {
    display: none;
    align-items: center;
}

/* hero banner */
#hero-banner{
    background-image: url("images/hero4.png");
    background-repeat: no-repeat;
    height: 90vh;
    background-position: top 25% right 10% ;
    background-size: contain;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}
#hero-banner h1{
    margin-top: 5px ;
    margin-bottom: 5px ;
    color: rgb(239, 22, 22);
}
#hero-banner h2{

  margin-bottom: 5px ;
}
#hero-banner p{
    color: darkgray;
}
#hero-banner button{
   background-color: White;
   border:2px solid #e91e63 ;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 10px;
   color:rgb(239, 22, 22); 
   box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
   transition: 0.5s ease;
}
#hero-banner button:hover{
     background-color: rgb(239, 22, 22);
     color: White;
     cursor:pointer;
}

/* Featured Products */
#Featured h3{
     text-align: center;
     margin-bottom: 0px;
}
#Featured p{
     text-align: center;
     color: darkgray;
     margin-top: 5px;
}
#products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.product{
    border: 1px solid #f9f5f6;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
    transition: all 0.3s ease;
    
}
.product:hover{
     box-shadow: 0px 8px 20px rgba(239,22,22,0.4);
     cursor: pointer;
     transition: 0.5s ease;
     transform: translateY(-10px);
}
.product img{
   width: 100%;
   border-radius: 5px;
   height: 220px;
   object-fit: cover;
   background: White;
   transition: transform 0.4s ease;

}
.product img:hover{
    transform: scale(1.05);
}
.star{
    color: gold;
    margin-top: 0;
}
.name{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
}

#cart{
    background-color: rgb(249, 249, 249);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 5px;
    right:10px;
}
#cart:hover{
    background-color: rgb(239, 22, 22);
    cursor:pointer;
    color: White;
    transition: 0.5s ease;
    transform: scale(1.05);
}
.price{
    color: rgb(239, 22, 22);
}
/* promo-banner */
#promo-banner{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/banner7.jpg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#promo-banner button{
  
   background-color: transparent;
   border:2px solid #e91e63 ;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 10px;
   color: White;
   background-color: rgb(239, 22, 22);
   box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
   transition: 0.5s ease;
}
#promo-banner button:hover{
     box-shadow: 0px 5px 15px rgba(0,0,0,0.50);
     transform: scale(1.05);
     cursor:pointer;
}
#promo-banner h2{
    margin-top: 10px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    
}
#promo-banner h4{
    margin-top: 0px;
    font-weight: 200;
    letter-spacing: 1px;
}

#Newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background: linear-gradient(135deg, #f3a4a4, #4f4d4d);
    flex-wrap: wrap;
    gap: 20px;
}
   

/* TEXT */
.newstext h4{
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.newstext p{
    color: balck;
    font-size: 14px;
}

.newstext span{
   color: red;

   font-weight: 600;

}

/* FORM */
.form{
    display: flex;
    align-items: center;
}

/* INPUT */
#Newsletter input{
    height: 45px;
    width: 250px;
    padding: 0 15px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

/* BUTTON */
#Newsletter button{
    height: 45px;
    padding: 0 20px;
    border: none;
    background-color: rgb(239, 22, 22);
    color: white;
    border-radius: 0 5px 5px 0;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}
/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    padding: 50px;
    
}
footer .col{
    display: flex;
    min-width: 200px;
   flex-direction: column;
   margin-bottom: 20px;
}
footer .col a{
    text-decoration: none;
   color: rgb(119, 116, 116);
    font-size: 13px;
    margin-bottom: 10px;
}
footer .col a:hover{
text-decoration: underline;
}
footer .logo{
    margin-bottom: 30px;
}

footer .col h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer .col p{
     font-size: 13px;
    margin: 0 0 8px 0;
   color: rgb(119, 116, 116);
   
}
footer .follow h4{
    margin-top: 10px;
    margin-bottom: 0;
    
}

footer .follow i {
    color: rgb(119, 116, 116);
    cursor: pointer;
    margin-top: 0;
    color: black;
   
}
.footer img{
    width: 120px; 
    margin: 5px 0;
}
.Visa img{
    width:300px;
}
.footer strong{
    color: black;
}
.copyright{
    text-align: center;
     color: rgb(119, 116, 116);
     top: 1px solid #ddd; padding-top: 20px;
}
/* Media Query */
@media (max-width:1024px) {
#navbar ul{
                
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;  
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);   
     padding: 80px 0 0 30px;           
                      
}   
#mobile {
    display: flex;
    align-items: center;
} 
#mobile i{
    color: black;
    font-size: 24px;
    padding-left: 20px;
}
}
